Basic Python
1. Split this string

In [1]:
sakthi = "Hi there Sam!"
sakthi = "Hi there Sam!"
sakthi.split()

['Hi', 'there', 'Sam!']

2. Use .format() to print the following string.

Output should be: The diameter of Earth is 12742 kilometers.

In [2]:
asteroid = "Earth"
size = 12742
asteroid = "Earth"
size = 12742
'The size of {} is {} kilometers.'.format(asteroid,size)

'The size of Earth is 12742 kilometers.'

In this nest dictionary grab the word "hello"

In [3]:
s = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'welcome']}]}]}
s = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'welcome']}]}]}
s['k1'][3]['tricky'][3]['target'][3]

'welcome'

Numpy

In [4]:
import numpy as np

4.1 Create an array of 10 zeros?

4.2 Create an array of 10 fives?

In [5]:
import numpy as ny
ny.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [6]:
import numpy as ny
ny.ones(10)*5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

Create an array of all the even integers from 20 to 35

In [7]:
ny.arange(20,36,2)

array([20, 22, 24, 26, 28, 30, 32, 34])

Create a 4x4 matrix with values ranging from 0 to 16

In [8]:
ny.arange(0,16).reshape((4,4))

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

Concatenate a and b

a = np.array([7 ,8 ,9 ]), b = np.array([4, 5, 6])

In [9]:
a = ny.array([7,8,9 ])
b = ny.array([4, 5, 6])
ny.concatenate([a,b])

array([7, 8, 9, 4, 5, 6])

Pandas

Create a dataframe with 3 rows and 2 columns

In [10]:
import pandas as pd
import pandas as pd 
data ={'Name':['sathish','jeeva'],'Age':[20,19],'Dept':['CSE','ECE']}
df=pd.DataFrame(data) 
print(df)

      Name  Age Dept
0  sathish   20  CSE
1    jeeva   19  ECE

Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [12]:
from datetime import date, timedelta

sdate = date(2023,1,1)   # start date
edate = date(2023,2,10)   # end date

ds=pd.DataFrame(pd.date_range(start='1/1/2023',end='2/10/2023'),columns=['dates'])
ds

        dates
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31
31 2023-02-01
32 2023-02-02
33 2023-02-03
34 2023-02-04
35 2023-02-05
36 2023-02-06
37 2023-02-07
38 2023-02-08
39 2023-02-09
40 2023-02-10

Create 2D list to DataFrame

lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [11]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
ds1=pd.DataFrame(lists)
ds1

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24